@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
/*https://www.flaticon.com/free-icon/money-currency_16195273?term=rupee+bag&page=1&position=10&origin=search&related_id=16195273*/
/*General CSS*/
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Gabarito", serif;
}

.donate_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 21px;
    color: #fff;
    text-decoration: none;
    background: #F15704;
    font-weight: 700;
    font-size: 20px;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.donate_btn:hover{
    box-shadow: 2px 2px 2px #000;
    transform: translateY(-4px);
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.donate_btn img{
    width: 24px;
}

.knowmore_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 21px;
    color: #F15704;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border: 2.5px solid #F15704;
    background: #fff;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.knowmore_btn:hover{
    box-shadow: 2px 2px 2px #000;
    transform: translateY(-4px);
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.knowmore_btn img{
    color: #F15704;
}

.nav .donate_btn{
    margin-right: 40px;
}

.menu_btn{
    cursor: pointer;
    border: 1px solid #DB4F04;
    padding: 7px 12px;
    z-index: 5;
    display: none;
}

.bar1, .bar2, .bar3{
    width: 30px;
    height: 2px;
    background-color: #DB4F04;
    margin: 6px 0;
    transition: transform 0.4s linear, rotate 0.4s linear, opacity 0.4s linear;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

h3{
    font-size: 28px;
    font-weight: 500;
    color: #035C01;  
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    
}

/*Header Section*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 5;
}

.logo{
    padding-left: 30px;
}

.logo img{
    width: 110px;
    height: 100px;
}

.nav{
    display: flex;
}

.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 40px;
}

.nav ul li{
    display: inline-block;
    list-style: none;
    position: relative;
}

.nav_drop ul{
    display: block;
}

.nav_drop{
    top: 100%;
    position: absolute;
    border: 1px solid #853002;
    width: max-content;
    display: none;
}

.nav_extend:hover .nav_drop {
    display: block;
}

.nav_drop .dropitem{
    border: 1px solid #652502;
    background: #FFF;
    padding: 10px 20px;
    text-align: center;
}

.nav_drop .dropitem a{
    color:#853002;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.nav_drop .dropitem a:hover{
    color:#F15704;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.active{
    color: #F15704 !important;
    font-size: 20px !important;
    text-decoration: underline !important;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
}

.nav ul li a{
    color:#652502;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.nav ul li a:hover{
    color: #F15704;
}


/*Main Section*/
/*Hero Section*/

.hero_sec{
    width: 100%;
    height: 905px;
    background: url(../images/hero_back.jpeg) lightgray -1.108px -2.097px / 100.077% 100.232% no-repeat;
}

.hero_main{
    padding-top: 215px;
    padding-left: 70px;
}

.hero_text h1{
    margin: 0;
    color: #012700;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    max-width: 900px;
}

.red_text{
    color: #AB3E03;
}

.hero_btns{
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

.hero_btns a{
    min-width: 130px;
}

/*About Section*/

.about_sec{
    margin: 40px 80px;
    color: #012700;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    gap: 180px;
}

.wel_head h3{
    margin: 0;
}

.wel_text{
    margin-top: 24px;
}

.focus_card .focus_img img{
    width: 80px;
}

.focus_head h3{
    margin-top: 48px;
    margin-bottom: 33pxs;
}

.focus_row{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.focus_row:nth-child(2){
    justify-content: center;
}

.focus_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center
}

.focus_foot{
    margin-top: 40px;
}

.wel_text, .focus_foot{
    font-size: 16px;
}

.focus_main{
    color: #357D34;
    font-size: 14px;
    font-weight: 700;
}

.reach_head h3{
    margin: 0;
}

.reach_img{
    margin: 48px 0;
    position: relative;
}

.reach_img div{
    color:#fff;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
}

.guj {
    top: 47%;
    left: 9%;
}

.raj {
    top: 35.5%;
    left: 15%;
}

.mp {
    top: 47%;
    left: 27.5%;
}

.reach_loc{
    margin-top: 50px;
}

.reach_loc ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items:end;
    flex-direction: column;
    gap: 8px;
}

.reach_loc ul li{
    list-style: none;
    display: flex;
    align-items: center;
    min-width: 118px;
}
/* counter section */

.counter_sec{
    margin: 20px 80px;
}

.counter_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.count_head{
    color:#AB3E03;
    display: inline-block;
    font-size: 60px;

}

.counter_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.count_text{
    font-size: 24px;
}

/* impact section */
.impact_sec{
    margin: 20px 80px;
}

.impact_img img{
    height: 165px;
    width: 285px;
}

.impact_block{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 25px;
}

.impact_card{
    border-radius: 8px;
    border: 2px dashed #8BB48A;
    background: #E6EFE6;
    padding: 8px;
    /* margin-right: 25px;
    margin-bottom: 30px; */
    flex: 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 226px;
    max-width: 296px;
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.impact_card:hover{
    transform: translate(-2px, -5px);
    box-shadow: 2px 4px 8px #ccc;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.impact_text{
    color: #012700;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.impact_text .sp_text{
    color: #AB3E03;
    font-weight: 700;
}

.impact_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.impact_btn .donate_btn{
    width: 400px;
}

.impact_btn .knowmore_btn{
    width: 396px;
    margin-top: 15px;
}

/*Banner Section*/

.banner_head h3{
    margin-left: 80px;
}

.banner_carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: white;
    white-space: nowrap;
}

.banner_carousel::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    content: "";
    z-index: 2;
}

.banner_carousel::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    content: "";
    z-index: 2;
}

.banner_track {
    display: flex;
    gap: 40px; /* Adjust spacing between images */
    will-change: transform;
}

/* Keyframe animation for infinite scrolling */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.banner_block{
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    animation: scroll 30s linear infinite;
}

.banner_block:hover{
    animation-play-state: paused;
}

.banner_block img {
    height: auto;
    max-width: none;
    flex-shrink: 0;
    padding: 0 30px;
}


/* .banner_carousel #left {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #F15704;
    font-size: 48px;
}

.banner_carousel #right {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 48px;
    color: #F15704;
} */


/*footer*/

.footer_sec{
    background: linear-gradient(180deg, #035C01 0%, #012700 100%);
}

.footer_head{
    border-radius: 0px 0px 20px 20px;
    background: #E6EFE6;
    margin: 0 80px;
    padding: 25px 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.foot_slogan h2{
    color: #035C01;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.foot_slogan h2 .f_orng{
    color: #DB4F04 ;
}

.foot_expl{
    color:#652502;
    font-size: 26px;
    font-weight: 600;
    padding-top: 20px;
}

.foot_btns{
    padding-top: 35px;
    display: flex;
    gap: 15px;
}

.foot_btns a{
    min-width: 130px;
}

.footer_main{
    display: flex;
    margin: 50px 80px;
    justify-content: space-between;
}

.fcont_details{
    margin-top: 10px;
}

.fcont_head{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    text-underline-position: from-font;
}

.foot_contact .c_detail{
    padding-top: 20px;
}

.foot_contact .fcont_details i{
    width: 26px;
    color: #F15704;
}

.foot_contact .fcont_details a{
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.fline{
    margin: 25px 0;
    width: 100%;
    border: 1px #B1CCB0 solid;
}

.connect_link{
    gap: 24px;
    display: flex;
}

.connect_link i{
    color: #fff;
    font-size: 24px;
}

.f_links{
    margin-top: 10px;
}

.f_links ul{
    padding: 0;
    margin: 0;
}

.f_links ul li{
    list-style: none;
    padding-top: 13px;
}

.f_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.f_links ul li i{
    color: #F15704;
}

.sign_text{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding-top: 32px;
}

.sign_form{
    margin-top: 20px;
    position: relative;
}

.sign_form #email{
    border-radius: 32px;
    border: 2px solid #FFF;
    padding: 4px 4px 4px 12px;
    background-color: transparent;
    width: 95%;
    height: 48px;
    color: #FFF;
}

#email::placeholder{
    color: #E6EFE6;
    font-size: 13px;
    font-weight: 500;
}

.sign_form .form_sub{
    position: absolute;
    padding: 12px 21px;
    border-radius: 32px;
    background: #F15704;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    font-family: inherit;
    top: 5px;
    right: 5px;
}

.footer_copy{
    color: #FFF;
    display: flex;
    justify-content: space-between;
    background-color: #DB4F04;
    padding: 16px 80px;
    font-size: 13px;
    font-weight: 700;
}

.privacy_text{
    display: flex;
    gap: 45px;
}

.privacy_text a{
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
}

/* Resposive Screens */


@media screen and (min-width: 1920px){
    .nav ul li a{
        font-size: 24px;
    }
    .donate_btn,.knowmore_btn{
        font-size: 26px;
        padding: 16px 28px;
    }
    .hero_text h1{
        font-size: 62px;
    }
    h3{
        font-size: 34px;
    }
    .wel_text, .focus_foot {
        font-size: 22px;
    }
    .focus_main{
        font-size: 20px;
    }
    .focus_text{
        font-size: 18px;
    }
    .focus_card .focus_img img {
        width: 110px;
    }
    .impact_text{
        font-size: 22px;
    }
}

@media screen and (max-width: 1440px){
    .nav .donate_btn{
        margin: 0;
    }
    .nav ul{
        margin-right: 32px;
        gap: 32px;
    }
    .nav ul li a{
        font-size: 17px;
    }
    .about_sec{
        gap: 100px;
    }
    
}

@media screen and (max-width: 1280px){
    .nav ul {
        margin-right: 30px;
        gap: 30px;
    }
    .nav ul li a {
        font-size: 15px;
    }
    .about_sec {
        gap: 60px;
    }
    .counter_main{
        gap: 40px;
    }
    .banner_block {
        min-height: 275px;
    }
    .footer_main {
        gap: 25px;
    }
    
    
}

@media screen and (max-width: 1024px){
    .about_sec {
        gap: 40px;
        flex-direction: column;
    }
    .nav ul {
        margin-right: 20px;
        gap: 20px;
    }
    .nav .donate_btn {
        margin-right: 0px;
    }
    .nav ul li a {
        font-size: 13px;
    }
    .guj{
        left: 6.5%;
    }
    .raj{
        left: 10%;
    }
    .mp{
        left: 18.5%;
    }
    .active{
        font-size: 15px !important;
    }
    .donate_btn,.knowmore_btn{
        font-size: 16px;
        padding: 10px 16px;
    }
    .hero_text h1{
        font-size: 42px;
        max-width: 620px;
    }
    .footer_main{
        gap: 20px;
    }
    .sign_form .form_sub{
        padding: 10px 18px;
        font-size: 16px;
        top: 4px;
        right: 22px;
    }
    .sign_form #email{
        align-self: center;
        height: 36px;
        width: 90%;
    }
    .foot_contact{
        max-width: 42%;
    }
    .fcont_head{
        font-size: 20px;
    }
    .foot_contact .c_detail{
        padding-top: 14px;
    }
    .f_links ul li{
        padding-top: 10px;
    }
    .foot_contact .fcont_details a{
        font-size: 15px;
    }
    .f_links ul li a{
        font-size: 15px;
    }
    .foot_news{
        width: 42%;
    }
    .hero_main{
        padding-left: 50px;
    }
    .about_section{
        margin: 40px 50px;
    }
    .counter_sec {
        margin: 20px 50px;
    }
    .banner_head h3{
        margin-left: 50px;
    }
    .wel_text, .focus_foot {
        font-size: 18px;
    }
    .focus_main {
        font-size: 16px;
    }
    .focus_text {
        font-size: 15px;
    }
    .reach_loc ul li{
        font-size: 15px;
        min-width: 135px;
    }
    .impact_text{
        font-size: 20px;
    }
    .impact_btn .donate_btn{
        width: 265px;
    }
    .impact_btn .knowmore_btn{
        width: 261px;
    }
    .footer_head{
        margin: 0 50px;
    }
    .footer_main{
        margin: 50px 50px;
    }
    .footer_copy{
        padding: 15px 50px;
    }
    
    .counter_card{
        flex: 1 0 auto;
    }

}

@media screen and (max-width: 768px){
    .logo{
        padding-left: 15px;
    }
    
    .hero_main {
        padding-left: 20px;
    }
    .hero_text h1 {
        font-size: 42px;
        max-width: 500px;
    }
    .about_sec {
        margin: 40px 20px;
    }
    .guj{
        left: 10%;
    }
    .raj{
        left: 15%;
    }
    .mp{
        left: 26%;
    }
    .banner_head h3{
        margin-left: 20px;
    }
    .counter_sec {
        margin: 20px 20px;
    }
    .impact_sec {
        margin: 20px 20px;
    }
    .footer_head {
        margin: 0px 20px;
    }
    .footer_main {
        margin: 50px 20px;
    }

    .footer_copy {
        padding: 15px 20px;
    }
    .fcont_head{
        font-size: 18px;
    }
    .f_links ul li a, .sign_text, .foot_contact .fcont_details a{
        font-size: 14px;
    }
    .foot_news, .foot_contact{
        width: 40%;
    }
    #email::placeholder{
        font-size: 11px;
    }
    .sign_form .form_sub{
        right: 13px;
    }
    .privacy_text{
        gap: 35px;
    }
    .nav {
        position: fixed;
        flex-direction: column;
        top: 0;
        background: #fff;
        height: 100vh;
        width: 60%;
        transform: translateX(100%);
        left: 100%;
        transition: left 0.4s ease-in-out, transform 0.4s ease-in-out;
        align-items: center;
    }
    .nav ul{
        flex-direction: column;
        gap: 100px;
        margin: 0;
        margin: 60px 0px;
    }
    .nav_drop{
        z-index: 2;
    }
    .nav ul li a {
        font-size: 25px;
    }
    .nav .donate_btn{
        padding: 12px 30px;
    }
    .active{
        font-size: 27px !important;
    }
    .menu_btn{
        display: block;
        margin-right: 15px;
    }
    .show{
        left: 40%;
        transform: translateX(0);
        transition: left 0.4s ease-in-out;
    }
    .nav_extend.dropit .nav_drop {
        display: block;
    }
    h3{
        font-size: 30px;
    }
    .wel_text, .focus_foot {
        font-size: 20px;
    }
    .focus_main {
        font-size: 18px;
    }
    .focus_text {
        font-size: 17px;
    }
    .impact_text {
        font-size: 22px;
    }
    .count_head{
        font-size: 50px;
    }
    .count_text {
        font-size: 24px;
    }
    .reach_img img {
        width: 100%;
    }
    .reach_img div{
        font-size: 16px;
    }
    .banner_block img {
        height: auto;
        width: 5%;
        max-width: none;
        flex-shrink: 2;
        padding: 0px 2%;
    }
    .hero_sec {
        height: unset;
        width: 100%;
    }
    .hero_main {
        padding: 175px 0 120px 20px;
    }
}

@media screen and (max-width: 480px){
    .nav ul li a {
        font-size: 20px;
    }
    .active {
        font-size: 22px !important;
    }
    .hero_text h1 {
        font-size: 33px;
        max-width: 350px;
    }
    .donate_btn, .knowmore_btn {
        font-size: 14px;
        padding: 9px 5px;
    }
    h3 {
        font-size: 22px;
    }
    .wel_text, .focus_foot {
        font-size: 16px;
    }
    .hero_sec{
        height: unset;
        width: 100%;
    }
    .hero_main{
        padding: 150px 0 100px 20px;
    }
    .nav ul {
        gap: 3em;
        margin: 3em 0px;
    }
    .focus_main {
        font-size: 16px;
    }
    .focus_text {
        font-size: 14px;
    }
    .reach_img img{
        width: 100%;
    }
    .counter_main{
        flex-direction: column;
        align-items: center;
    }
    .count_head {
        font-size: 44px;
    }
    .count_text {
        font-size: 20px;
    }
    .impact_card{
        min-height: 220px;
        max-width: 320px;
    }
    .impact_img img {
        height: 170px;
        width: 300px;
    }
    .foot_slogan img{
        width: 60%;
    }
    .foot_slogan h2{
        font-size: 28px;
    }
    .foot_expl{
        font-size: 16px;
    }
    .footer_copy, .footer_copy a{
        font-size: 9px;
    }
    .privacy_text {
        gap: 20px;
    }
    .reach_img div{
        font-size: 8px;
    }
    .guj {
        left: 10%;
    }
    .raj {
        top: 36.5%;
        left: 15%;
    }
    .mp {
        left: 28%;
    }
    .banner_block img {
        padding: 0px 1%;
    }
    .fcont_head {
        font-size: 10px;
    }
    .foot_contact .c_detail {
        padding-top: 10px;
    }
    .f_links ul li {
        padding-top: 8px;
    }
    .connect_link {
        gap: 16px;
    }
    .connect_link i{
        font-size: 20px;
    }
    .fline{
        margin: 18px 0;
    }
    .sign_form #email{
        height: 18px;
    }
    .sign_form .form_sub {
        padding: 5px 10px;
        font-size: 9px;
    }
    #email::placeholder{
        font-size: 8px;
    }
    .sign_form .form_sub {
        right: 1px;
    }
    .sign_text{
        padding-top: 18px;
    }
    .footer_main{
        margin: 40px 20px;
    }
    .sign_form {
        margin-top: 12px;
    }
    .foot_news, .foot_contact {
        width: 36%;
    }
    .foot_contact .fcont_details i{
        width: 20px;
    }
    .f_links ul li a, .sign_text, .foot_contact .fcont_details a {
        font-size: 9px;
    }
}

@media screen and (max-width: 320px){
    .nav ul {
        margin-top: 5em;
        margin-bottom: 3em;
    }
    .hero_btns{
        gap: 10px;
    }
}